.car-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  color: white;
}

.car-entry::before {
  content: "";
  position: absolute;
  background: url("../assets/Cars.jpg") no-repeat center;
  background-size: cover;
  inset: 0;
  z-index: -1;
}

.car-entry > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.car-entry > div > label {
  font-size: 24px;
  font-weight: 600;
}

.car-entry > div > select {
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.car-entry > div > select > option {
  font-size: 16px;
}
